<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/1.jpg);">
  <div class="container">
    <h1>Cocktails!</h1>
    <p>Change your life and learn how to make cocktails</p>

  </div>
</div>
<div class="over">
  <h1 class="text-center m-2 white-bold">List of cocktails</h1>
  <div class="d-flex flex-wrap justify-content-center">
    <% @cocktails.each do |cocktail| %>

    <div class="card m-2">
      <h5 class="title-card"><%= cocktail.name.capitalize %></h5>
      <%= link_to 'Learn more', cocktail, class: "btn btn-dark" %>
    </div>
    <% end %>
  </div>
</div>






