<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dreamslewagon/image/upload/v1606052067/eb6zbtrsmr81wmnqcevs.jpg);">
  <div class="container">
    <h1 class='text-center'><%= @cocktail.name %></h1>
  </div>
</div>
<div class="background-image-change p-5">
<h1 class="text-center">New Dose for <%= @cocktail.name %> </h1>

 <%= render 'form' %>

 <%= link_to 'Home', cocktail_path(@cocktail), class: "btn btn-danger" %> |
</div>
