// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";

.background-image-change {
  background: #515070;
  color: #f6f6f6;
}
.over {
  background: #515070;
  margin-top: 10px;
  border-radius: 10px;
}
